.flashes {
  color: red;
}

.table,
th,
td {
  border: 1px solid;
  padding: 10px;
  border-collapse: collapse;
}

.carousel-inner > .carousel-item > a > img {
  width: 100%;
  height: 50%;
  margin: auto;
}

.carousel-caption > h5,
p {
  color: black;
}
