{% extends 'base.html'%}

{% block head %}
<title>My Pantry</title>
{% endblock %}

{% block body %}

<div class="container">
    <!-- Carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static01.nyt.com/images/2021/01/26/well/well-foods-microbiome/well-foods-microbiome-jumbo.jpg?quality=90&auto=webp"
                    alt="First slide">
            </div>
            {% if trending_recipes is not none%}
            {% for item in trending_recipes %}
            <div class="carousel-item ">
                <a href="{{ url_for('get_recipe_details', id=item['id']) }}">
                    <img src="{{ item['image'] }}" alt="Second slide"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ item['title'] }}</h5>
                    <p>{{ item['summary']|safe }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Find recipe section -->
    <section>
        <h2>Search for a recipe</h2>
        <p>Type the name of the recipe you want to search</p>
        <form name="search_for_recipe" action="search_by_recipe_name" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="recipe_name" placeholder="enter a recipe name...">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </section>
    <!-- Add ingredients section -->
    <section>
        <h2>Search for recipes with your ingredients</h2>
        <P>Start by adding some ingredients to your pantry</P>
        <form name="add_ingredient" action="add_ingredient" method="POST">
            <div class="form-group">
                <label for="ingredient">Ingredient:</label>
                <input class="form-control" type="text" id="ingredient" name="ingredient"
                    placeholder="add an ingredient..." required>
                <label for="expiry_date">Add expiry date if required:</label>
                <input class="form-control" type="date" id="expiry_date" name="expiry_date">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{{ url_for('search_by_ingredients') }}" class="btn btn-primary">Search</a>
        </form>
    </section>
    <!-- View ingredients section -->
    <section>
        {% if ingredients %}
        <h2>Your Ingredients</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Ingredient</th>
                    <th>Expiry Date</th>
                    <th>Remove</th>
                </tr>
            </thead>
            {% for item in ingredients %}
            <tr>
                <td>{{ item['ingredient'] }}</td>
                <td>{{ item['expiry_date'] }}</td>
                <td><a href="{{ url_for('remove_ingredient', ingredient=item['ingredient']) }}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </section>
</div> <!-- End of main div -->

{% endblock %}